body{
background-image: url(../imagen/fondo.png);
background-attachment: fixed;
}

h1{
  font-family: 'Bowlby One SC', cursive;
  text-decoration: underline;
}

h2{
  font-family: 'Indie Flower', cursive;
}

.datos{
  }
.universitario{
  }
.idioma{

}
.informatica{
  }
.hobbies{
  }
.redes{
  }
.titulos{
  font-size: 30px;
  text-decoration: underline;
  text-shadow;
}
.contenidos{
  color:rgba(176, 176, 176, 1);
  font-size: 20px;
  text-indent: 1px;
}
