
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------mi css----------------------*/
/* HEADER */
div.header {
	position: fixed;
	width: 100%;
	z-index: 1000000;
}


/* BURGER MENU */


.header .menu-btn {
  display: none;
}

header {
  overflow: hidden;
  width: 100%;
  height: 80px;
  border-bottom: 0.1px solid gainsboro;
	background-color: rgba(255, 255, 255, 0.2);
}
header.index img.logo {
	float: left;
}

header.index label.burgerMenu, #burger-menu {
	display: none;
}

header nav ul img {
	float:right;
	margin-right: 3%;
}
header.index h1, h2 {
  float: left;
}

header.index li {
  float: right;
	margin-right:40px;
	padding: 30px;
	z-index: 100000;
}


.index nav a {
	text-decoration: none;
	color: black;
	font-family: Oswald;
	font-size: 1.2em;
}
.menu-movil {
	display: none;
}

/* FIN HEADER*/


body {
  font-family: Oswald;
  font-size: 2.5vh;
  background: rgba(4,27,84,1);
background: -moz-linear-gradient(top, rgba(4,27,84,1) 0%, rgba(27,63,107,1) 47%, rgba(69,80,126,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(4,27,84,1)), color-stop(47%, rgba(27,63,107,1)), color-stop(100%, rgba(69,80,126,1)));
background: -webkit-linear-gradient(top, rgba(4,27,84,1) 0%, rgba(27,63,107,1) 47%, rgba(69,80,126,1) 100%);
background: -o-linear-gradient(top, rgba(4,27,84,1) 0%, rgba(27,63,107,1) 47%, rgba(69,80,126,1) 100%);
background: -ms-linear-gradient(top, rgba(4,27,84,1) 0%, rgba(27,63,107,1) 47%, rgba(69,80,126,1) 100%);
background: linear-gradient(to bottom, rgba(4,27,84,1) 0%, rgba(27,63,107,1) 47%, rgba(69,80,126,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#041b54', endColorstr='#45507e', GradientType=0 );
}

section.parte1 {
  width: 100%;
  background-image: url(../images/background_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  overflow: hidden;
  border-bottom: 3px solid black;
}


.parte1 a {
	text-decoration: none;
	color: black;
	font-size: 1.5em;
}

.parte1 nav {
  float: right;
  margin-top: 100px;
  margin-right: 5%;
}

.parte1 h2 {
	width: 6em;
	height: 1.2em;
	text-align: center;
  float: left;
  font-size: 5em;
  margin-top: 10%;
	color: black;
	margin-left: 10%;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.8);

}
/* SECTION*/

.contenido {
  width: 100%;
}



div.parte2 {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  border-right: 2px solid #a8996e;
  border-left: 2px solid #a8996e;
  padding-top: 3%;
  background: rgba(255,255,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
	padding-bottom: 5%;
  font-size: 1.5em;
  font-family: 'Roboto Condensed';
}

.parte2 input {
  font-family: Oswald;

}

.parte2 select {
  text-align: left;
}
div.periodo{
	overflow: hidden;
}

div.ano, div.mes {
	float: left;
	display: flex;
  align-items: center;
  justify-content:center;
	padding-left: 3%;
}
div .generales-ingresos{
	margin-top: 20px;
	text-align: left;
	margin-left: 50px;


}
.generales-ingresos article{
	overflow:hidden;
	text-align: center;
	margin-bottom: 19px;


}
.generales-ingresos article p{
	width: 100%;
	float: left;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	font-size: 40px;
}

div .boton{
	margin-top: 20px;
	text-align: center;
}
.generales-ingresos ol li{
	margin-bottom: 3px;
}

.parte2 img {
  border: 1px solid #a8996e;
}



input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #a8996e;
  background-color: white;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #a8996e;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}


/* FOOTER */
footer {
	background-color: #637a97;
	padding: 3% 0;
	text-align: center;
	border-top: 2.5px solid black;
	width: 100%;
}

footer img {
	margin-bottom: 1.5%;
}

footer a {
	padding-right: 10px;
	text-decoration: none;
	color: black;

}
footer a:last-child {
	padding-right: 0;
}

footer a:hover {
	color: white;
}

p.copyright {
	padding: 15px 0;
	width: 100%;
	text-align: center;
	background-color: #2d3845;
	color: white;
}
/*FIN FOOTER*/



@media (min-width:641px) and (max-width:959px){

}

/*PANTALLA COMPLETA */
@media (min-width:960px){


	.contenido {
	  width: 100%;
	  top: 100px;
	  overflow: hidden;
	}
}
	@media (max-width: 850px) {
		header nav {
			display: none;
		}

		.menu-btn {
			  display: block;
				float: right;
			}

		.menu-icon {
		  cursor: pointer;
		  display: inline-block;
		  float: right;
		  padding: 28px 20px;
		  position: relative;
		  user-select: none;
		}

		.menu-icon .navicon {
		  background: #333;
		  display: block;
		  height: 4px;
		  position: relative;
		  transition: background .2s ease-out;
		  width: 30px;
		}

		.menu-icon .navicon:before,
		.menu-icon .navicon:after {
		  background: #333;
		  content: '';
		  display: block;
		  height: 100%;
		  position: absolute;
		  transition: all .2s ease-out;
		  width: 100%;
		}

		.menu-icon .navicon:before {
		  top: 5px;
		}

		.menu-icon .navicon:after {
		  top: -5px;
		}

		header {
			background-color: transparent;
			width: 100%;
			border-bottom: none;
		}
		header img {
			display: none;
		}

		.menu-btn:checked ~ .menu-movil {
			display: block;
			position: absolute;
			top: 50px;
			right: 0;
			float: right;
			width: 40vh;
			text-align: center;
			height: 60vh;
			background-color: rgba(38, 38, 38, 0.79);
		}
		.menu-btn:checked ~ ul {
					height: 800px;
		}

		.menu-btn:checked ~ .menu-movil li{
			display: block;
			float: none;
			margin: 0;
			padding-top: 5%;
			font-size: 1.5em;
		}

		.menu-movil ul:first-child {
			margin-top: 10%;
		}

		nav.menu-movil a {
			color: white;
		}
		.menu-btn:checked ~ .menu-icon .navicon {
		  background: transparent;
		}

		.menu-btn:checked ~ .menu-icon .navicon:before {
		  transform: rotate(-45deg);
		}

		.menu-btn:checked ~ .menu-icon .navicon:after {
		  transform: rotate(45deg);
		}

		 .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
		 .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
		  top: 0;
		}
		img.logo {
			display: block;
			width: 40vh;
		}

		/* fin menu */
}
