body{
  width: 30%;
 margin: 0 auto;
}

input:focus{
  color:blue;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  width: 90%;
  align-content: center;
}


button:hover{
  width: 50px;
}
