body{

  background-image: url(../imagenes/bg-2.png);
}

header{
  width: 960px;
  border: black 1px solid;
  overflow: hidden;
  margin-top: 30px;
  width: 100%;
  display: block;
}

header div{

  border: black 1px solid;
}


.cabecera{
  float: left;
}

.divcabecera{
background-color: rgb(251, 105, 0);
}

.divlogo{
  position: relative;
  top: -20px;
}
ul{
  overflow: hidden;
  margin-left: 0px;
}

ul li{
  border: black 2px solid;
  text-align: center;
  list-style: none;
  float: left;
  margin-top: 30px;
  margin-left: 0px;
}

section{
  background-color: white;
  border: black 1px solid;
  width: 960px;
}

.linea1{
  border: black 1px solid;
  overflow: hidden;
}
.linea1-1{
  float: left;
  margin-top: 5px;
  margin: 10px;
  width: 300PX;
}





/*
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%,50%);
*/
