/* MENU IZQUIERDA */
.contenido {
	width: 100%;
	overflow: hidden;
}
.contenido h1 {
	font-size: 3em;
	color: #ebe8fc;
}
div.leftMenu {
	text-align: justify;
	background-color: #343d46;
	width: 25%;
	height: 94.5vh;
	float:left;
}

div.contenedor1 {
	position: absolute;
	top: 8vh;
	left: 0;
	display: flex;
	justify-content: center;
	width: 25%;
}

.contenedor1 ul {
	width: 100%;
}

@font-face {
    font-family: Whitney;
    src: url(./fonts/whitney3.woff);
}
.contenedor1 a{
	display: block;
	font-family: Whitney;
	text-decoration: none;
	color: #aeb3ba;
	font-size: 1.2em;
}
.contenedor1 li a{
	padding: 10px 10%;
	padding-right: 20%;
	margin: 1px 5%;
}


.contenedor1 li:hover {
	background-color: #3e76d1;
}
.contenedor1 li:hover a {
	color: white;
}

.contenedor1 h3 {
	font-size: 1em;
	color: white;
	display: block;
	letter-spacing: 3px;
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 25px;
}
/*FIN MENU IZQUIERDA */
