html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MI CSS */

body {
  font-family: Oswald;
	background-color: #4f5b66;
	color: #ebe8fc;
	font-size: 2.5vh;
}

.contenido {
	width: 100%;
	overflow: hidden;
	padding-top: 50px;
}
.contenido h1 {
	font-family: Whitney;
	letter-spacing: 3px;
	font-size: 3em;
	margin-top: 2%;
	color: #ebe8fc;
	white-space: inherit;
}
/* SECCION PERFIL */
div.miPerfil {
	overflow: hidden;
	width: 75%;
	justify-content: center;
	display: flex;
}

.miPerfil img {
	float: left;
	align-self: center;
	display: flex;
	margin: 2%;
}

div.perfil {
	width: 100%;
	margin: 5% 0;
	background-color: #223242;
	border-radius: 20px ;
	height: 30vh;
	width: 50vw;
	display: flex;
	overflow: hidden;
}

div.datosPerfil {
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.datosPerfil h3 {
	font-size: 1.2em;
	color: grey;
}

.datosPerfil p {
	font-size: 1.6em;
	color: white;
}

.perfil form {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 7%;
}

.perfil button {
	border-radius: 10px;
		padding: 1vh 3vh;
		font-size: 1.3em;
		text-align: center;
		font-family: 'Roboto Slab';
}

 /* FIN SECCION PERFIL */
