/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------------Mi css---------------------------- */
body {
	font-family: Oswald;
	background: rgba(255,255,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
	font-size: 2.5vh;
}


button {
	font-family: Oswald;
}
div.background1 {
  background: url("../images/background--1.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
div.container {
	position: relative;

}

section.section1 {
	position: absolute;
	top: 10%;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 90%;
}

.section1 h2 {
	font-size: 4.5em;
	color: white;
	margin-bottom: 10px;
}

.section1 h3 {
	font-size: 3em;
	color: white;
}
.formularioIndex {
	text-align: center;
	color: white;

}

.formularioIndex p {
	padding: 15px;
	font-size: 1.5em;
}

.formularioIndex {
	background-color: rgba(53, 74, 95, 0.58);
	padding: 20px 0;
	width: 30%;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.75);
box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.75);
}
.formularioIndex div input {
	font-family: Oswald;
	font-size: 1em;
	width: 190px;
	border-radius: 10px;
}

.formularioIndex input, textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

.formularioIndex input:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.formularioIndex * {
	margin-bottom: 5px;
}

.formularioIndex a{
	text-decoration: none;
	color: gainsboro;
}

section.indexParte2 {
	height: 50vh;
	width: 100%;
	font-size: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.indexParte2 p {
	font-size: 0.5em;
}

section.indexParte3 {
	height: 80hv;
	background: url("../images/background_6.jpg") no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

.indexParte3 h2 {
	font-size: 3.5em;
	color: #010e1d;
	margin-bottom: 5%;
	width: 95%;
	margin-top: 5%;
}

.indexParte3 ul li:first-child {
	width: 90%;
}

.indexParte3 img {
	margin-right: 3%;
}

.indexParte3 div {
	width: 95%;
	margin-left: 5%;
}

.indexParte3 li {
	font-size: 1.5em;
	color: #947857;
	margin-bottom: 5%;
	padding-left: 6%;
	display: flex;
	align-items: center;
}


.indexParte3 span {
	font-weight: bold;
	font-family: "Fjalla One";
	color: #133153;
	margin-right: 3%;
	font-size: 1.2em;
}

.section1 a.saberMas {
	text-decoration: none;
	float: none;
	color: white;
	font-size: 1.5em;
	display: inline-block;
	margin-top: 20%;
	margin-left: 10%;

}

p.error {
	color: #960005;
	font-size: 1em;
}

/* ---------------------ANIMACIONES---------------*/

.animation1 {
	-webkit-animation-delay: 1s;
}

.animation2 {
	-webkit-animation-delay: 1.2s;
}

.animation3 {
	-webkit-animation-delay: 1.39s;
}

.fadeInDown {
	-webkit-animation-delay: 1.39s;
}

.fadeInUp {
	-webkit-animation-delay: 1.4s;
}


/* dimension tablet */
@media (max-width: 850px) {

	.section1 a.saberMas {
		display: none;
	}

	/* fin menu */

	img.logo {
		display: block;
		width: 5vh;
	}

	.section1 {
		flex-direction: column;
		text-align: center;
	}

	.section1 h2 {
		font-size: 3em;
	}

div.formularioIndex {
	width: 70%;

}

.section1 {
	z-index: 1000;
}
.section1 p {
	font-size: 1.7em;
}

.section1 button {
	font-family: Oswald;
}

.section1 a {
	font-size: 1.2em;
}

.section1 label{
	font-size: 1.3em;
}

	.section1 h2, h3 {
		float: none;
	}

	.section1 form {
		float: none;
	}
}

@media (max-width: 425px) {
	.indexParte3 {
		font-size: 0.9em;
	}

	.indexParte3 li img {
		width: 10%;
	}
  section.indexParte2 {
		height: inherit;
		padding: 20px 0;
	}
}
